# .coveragerc to control coverage.py
[run]
branch = True
omit = gto/basis/*
    *test*
    dmrgscf/*
    fciqmcscf/*
    shciscf/*
    xianci/*
    icmpspt/*
    gen_*_param.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise RuntimeError
    raise NotImplementedError
    pass

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    if sys.version_info.*:
    if DEBUG:
    except ImportError:

ignore_errors = True

[html]
directory = coverage_html_report
