[flake8]
# https://flake8.pycqa.org/en/2.5.5/warnings.html#error-codes
ignore =
        # Indentation:
        E126, E127, E128, E129,
        # Whitespaces:
        E201, E202, E203, E211, E221, E222, E225, E226, E228, E231, E241, E251,
        # Comments:
        E261, E262, E265, E266,
        # Blank lines:
        E301, E302, E303, E305, E306,
        # Imports:
        E401, E402,
        # Other:
        E701, E713, E721, E731, E741, E275,
        F401, F403, C901, W391, W503, W504

exclude = test, .git, __pycache__, build, dist, __init__.py, .eggs, *.egg
max-line-length = 120

per-file-ignores =
    pyscf/dft/libxc.py: E122,E501
    pyscf/dft/xcfun.py: E122,E501
    pyscf/grad/sacasscf.py: E501
    pyscf/lo/ibo.py: E501
    pyscf/pbc/cc/kccsd_t.py: E501
    pyscf/pbc/mpicc/kccsd_rhf.py: E501
    pyscf/pbc/mpicc/kintermediates_rhf.py: E501
    pyscf/pbc/tools/pywannier90.py: E501
