include MANIFEST.in
include README.md setup.py CHANGELOG AUTHORS LICENSE NOTICE

global-exclude *.py[cod]
prune pyscf/lib/build

recursive-include pyscf *.dat
recursive-include pyscf/lib/deps *.so
recursive-include pyscf/lib/deps *.dylib
include pyscf/lib/*.so
include pyscf/lib/*.dylib
include pyscf/geomopt/log.ini

recursive-exclude pyscf/lib *.c *.h
recursive-exclude pyscf/lib *.cl

