include MANIFEST.in
include README.md setup.py CHANGELOG AUTHORS LICENSE NOTICE

recursive-include pyscf *.dat
recursive-include pyscf/lib/deps *.so
include pyscf/lib/*.so pyscf/lib/config.h.in

# macos dynamic libraries
include pyscf/lib/*.dylib
include pyscf/lib/deps/lib*/libcint.[4-9].dylib
include pyscf/lib/deps/lib*/libxc.*.dylib
include pyscf/lib/deps/lib*/libxcfun.[2-9].dylib

include pyscf/geomopt/log.ini
include pyscf/gto/basis/bse_meta.json

# source code
recursive-include pyscf/lib *.c *.h CMakeLists.txt
recursive-exclude pyscf/lib *.cl

global-exclude *.py[cod]
prune pyscf/lib/build
