#
# This file is an example to set the environment.
# The configs will be used in dmrgci.py and chemps2.py
#

import os

# To install Block as the FCI solver for CASSCF, see
#       http://www.princeton.edu/chemistry/chan/software/dmrg/
#       https://github.com/sanshar/Block
BLOCKEXE = '/path/to/Block/block.spin_adapted'
BLOCKEXE_MPS_NEVPT = '/path/to/Block/block.spin_adapted'
#BLOCKSCRATCHDIR = os.environ['TMPDIR']
BLOCKSCRATCHDIR = './scratch'
MPIPREFIX = 'mpirun'  # change to srun for SLURM job system


# Use ChemPS2 as the FCI solver for CASSCF
# building PyChemPS2, a python module will be generated in
#       /path/to/ChemPS2/build/PyChemPS2
# see more details in the ChemPS2 document
#       https://github.com/SebWouters/CheMPS2
PYCHEMPS2BIN = '/path/to/CheMPS2/build/PyCheMPS2/PyCheMPS2.so'
