#
# This file is an example to set the environment.
# The configs will be used in fciqmc.py
#

# Install NECI (FCIQMC) as the FCI sovler for CASSCF
#       https://github.com/ghb24/NECI_STABLE
FCIQMCEXE = '/path/to/FCIQMC/neci.x'

#Alternatively, if you want to perform FCIQMC calculations on a seperate machine,
#set the neci call to be 'external'. All calls will then just wait for user input.
#FCIQMCEXE = 'external'
