name: Publish

on:
  release:
    types:
      # Note: editing the prerelease then marking as release does not trigger
      # this pipeline
      # - prereleased
      - released
  workflow_dispatch:

jobs:
  release-pypi-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build wheels
        run: |
            docker run --rm -v ${{ github.workspace }}:/src/pyscf \
            -e CMAKE_BUILD_PARALLEL_LEVEL=4 \
            pyscf/pyscf-pypa-env:latest \
            bash /src/pyscf/docker/pypa-env/build-wheels.sh
      - name: List available wheels
        run: |
          ls ${{ github.workspace }}/linux-wheels
      - name: Publish to PyPI
        run: |
            pip3 install twine==6.0.1
            export TWINE_USERNAME=__token__
            export TWINE_PASSWORD="${{ secrets.PYPI_API_TOKEN }}"
            twine upload --verbose linux-wheels/*

  release-pypi-aarch64:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    env:
      img: quay.io/pypa/manylinux2014_aarch64:latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up QEMU
      id: qemu
      uses: docker/setup-qemu-action@v2
    - name: Build Wheel
      run: |
            docker run --rm -v ${{ github.workspace }}:/src/pyscf:rw --workdir=/src/pyscf \
            ${{ env.img }} \
            bash -exc '/opt/python/cp39-cp39/bin/pip install --upgrade pip setuptools && \
            yum install -y epel-release && \
            yum-config-manager --enable epel && \
            yum install -y openblas-devel gcc && \
            export src=${GITHUB_WORKSPACE:-/src/pyscf} && \
            export dst=${GITHUB_WORKSPACE:-/src/pyscf}/linux-wheels && \
            export CMAKE_CONFIGURE_ARGS="-DWITH_F12=OFF -DENABLE_SMD=ON" && \
            export CMAKE_BUILD_PARALLEL_LEVEL=4 && \
            mkdir -p /root/wheelhouse $src/linux-wheels && \
            sed -i "/            if basename(fn) not in needed_libs:/s/basename.*libs/1/" /opt/_internal/pipx/venvs/auditwheel/lib/python*/site-packages/auditwheel/wheel_abi.py && \
            /opt/python/cp39-cp39/bin/pip wheel -v --no-deps --no-clean -w /root/wheelhouse $src && \
            export whl=`ls /root/wheelhouse/pyscf-*-linux_*.whl` && \
            auditwheel -v repair "$whl" --lib-sdir /lib -w $dst'
    - name: List available wheels
      run: |
        ls ${{ github.workspace }}/linux-wheels
    - name: Publish to PyPI
      run: |
          pip3 install twine==6.0.1
          export TWINE_USERNAME=__token__
          export TWINE_PASSWORD="${{ secrets.PYPI_API_TOKEN }}"
          twine upload --verbose linux-wheels/*

  release-pypi-macos-x86:
    name: Build wheels for macos Intel chips
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel
      - name: Build wheels
        env:
          CIBW_BUILD: cp311-macosx_x86_64
          CIBW_BUILD_VERBOSITY: "3"
          CMAKE_CONFIGURE_ARGS: "-DWITH_F12=OFF -DENABLE_SMD=OFF"
          CMAKE_BUILD_PARALLEL_LEVEL: "4"
        run: python -m cibuildwheel --output-dir mac-wheels
      - name: List available wheels
        run: |
            ls mac-wheels
      - name: Publish to PyPI
        run: |
            python -m venv ci-env
            source ci-env/bin/activate
            python -m pip install twine==6.0.1
            export TWINE_USERNAME=__token__
            export TWINE_PASSWORD="${{ secrets.PYPI_API_TOKEN }}"
            twine upload --verbose mac-wheels/*

  release-pypi-macos-arm64:
    name: Build wheels for Apple M chips
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel
      - name: Build wheels
        env:
          CIBW_BUILD: cp311-macosx_arm64
          CIBW_BUILD_VERBOSITY: "3"
          # Cross-platform build for arm64 wheels on x86 platform
          CIBW_ARCHS_MACOS: "x86_64 universal2 arm64"
          CMAKE_CONFIGURE_ARGS: "-DWITH_F12=OFF -DENABLE_SMD=OFF"
          CMAKE_BUILD_PARALLEL_LEVEL: "4"
          CMAKE_OSX_ARCHITECTURES: arm64
        run: python -m cibuildwheel --output-dir mac-wheels
      - name: List available wheels
        run: |
            ls mac-wheels
      - name: Publish to PyPI
        run: |
            python -m venv ci-env
            source ci-env/bin/activate
            python -m pip install twine==6.0.1
            export TWINE_USERNAME=__token__
            export TWINE_PASSWORD="${{ secrets.PYPI_API_TOKEN }}"
            twine upload --verbose mac-wheels/*

  release-pypi-sdist:
    runs-on: ubuntu-latest
    needs:
      - release-pypi-linux
    steps:
      - uses: actions/checkout@v4
      - name: Build sdist
        run: |
          pip install build
          python3 -m build -s
      - name: List available sdist
        run: |
          ls ${{ github.workspace }}/dist
      - name: Publish to PyPI
        run: |
            pip3 install twine==6.0.1
            export TWINE_USERNAME=__token__
            export TWINE_PASSWORD="${{ secrets.PYPI_API_TOKEN }}"
            twine upload --verbose dist/*

  release-conda-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Publish to conda
        run: |
            docker run --rm -v ${{ github.workspace }}:/src/pyscf \
            -e CMAKE_BUILD_PARALLEL_LEVEL=4 \
            -e ANACONDA_API_TOKEN=${{ secrets.ANACONDA_TOKEN }} \
            continuumio/miniconda3:25.3.1-1 \
            bash -c "conda install -y anaconda-client conda-build && conda config --set anaconda_upload yes && cd /src/pyscf && conda build --output-folder . conda"

  release-docker:
    runs-on: ubuntu-latest
    needs: release-pypi-sdist
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: pyscf
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - id: docker-tag
        uses: battila7/get-version-action@v2
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: docker/Dockerfile
          push: true
          tags: pyscf/pyscf:${{ steps.docker-tag.outputs.version-without-v }}
          #cache-from: type=local,src=/tmp/.buildx-cache
          #cache-to: type=local,dest=/tmp/.buildx-cache
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
